<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head th:replace="fragments/header :: header"></head>
<body class="container-fluid">
<div>
    <h5 style="text-align: left" th:align="left"><b>도서 목록</b></h5>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a th:href="@{/books/new}" class="btn btn-primary" type="button">도서 생성</a>
    </div>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">상품 아이디</th>
        <th scope="col">도서 아이디</th>
        <th scope="col">도서명</th>
        <th scope="col">저자</th>
        <th scope="col">가격</th>
        <th scope="col">남은 수량</th>
        <th scope="col">생성 날짜</th>
        <th scope="col">수정 날짜</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr id="books" th:each="book: ${books}" th:object="${book}">
        <td th:text="*{itemId}"></td>
        <td id="bookId" th:text="*{bookId}"></td>
        <td th:text="*{title.getTitle()}"></td>
        <td th:text="*{authorName.getName()}"></td>
        <td th:text="*{price.getPrice()}"></td>
        <td th:text="*{stockQuantity}"></td>
        <td th:text="*{#temporals.format(createdDateTime, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="*{#temporals.format(modifiedDateTime, 'yyyy-MM-dd HH:mm')}"></td>
        <td>
            <a th:href="@{/books/{bookId}(bookId=*{bookId})}"
               class="btn btn-outline-primary" type="button">상세 정보</a>
        </td>
        <td>
            <a th:id="'delete_' + *{bookId}" onclick="deleteBook(this)" class="btn btn-outline-danger" type="button">삭제</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="text-center mt-3">
    <a onclick="history.back()" class="btn btn-outline-primary" type="button">이전 페이지 이동</a>
</div>

<script>
    function deleteBook(obj) {
        var bookId = obj.id.split('_')[1];
        console.log(bookId);
        $.ajax({
            type: "DELETE",
            url: "/books/" + bookId,
            success: function () {
                alert("도서 삭제가 완료되었습니다.");
                location.href = 'books/admin'
            },
            error: function (request) {
                alert(request.responseText);
            }
        }).done(function () {
           window.location.reload();
        });
    }
</script>
</body>
</html>