<!doctype html>
<html lang="en">
<head th:replace="fragments/header :: header"></head>
<body class="container-fluid">
<div class="d-grid gap-3" style="width: 700px; margin: 0 auto;">
    <h2 style="text-align: center">도서 주문 서비스</h2>
    <a th:href="@{/users/login}" class="btn btn-outline-primary" type="button">로그인</a>
    <a th:href="@{/users/join}" class="btn btn-outline-secondary" type="button">회원가입</a>
    <a th:href="@{/users/pwreset}" class="btn btn-outline-success" type="button">패스워드 초기화</a>
</div>
</body>
</html>